{
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 80,
	"trailingComma": "none",
	"semi": false,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "as-needed",
	"proseWrap": "preserve",
	"plugins": ["prettier-plugin-tailwindcss"]
}
